@CHARSET "ISO-8859-1";

.information {
 padding:10px;
 margin:10px;
 border:2px solid black;
 }
 
 .notfound {
 color:red;
 font-weight:lighter;
 }
 
 .links {
 	font-size: 16px;
	font-weight: bold;
 }
 
 .register {
 margin-left:auto;
 margin-right:auto;}
 
 #resumes tbody tr td {
 padding:5px;
 margin:5px;
 border:1px solid black;
 }
 
 #resumes tbody tr th {
 padding:5px;
 margin:5px;
 border:1px solid black;
 }
 
 #users tbody tr td {
 padding:5px;
 margin:5px;
 border:1px solid black;
 } 
 
 #users tbody tr th {
 padding:5px;
 margin:5px;
 border:1px solid black;
 }
 
 textarea {
 resize:none;}
 
 #jobs tr td {
 border:1px solid black;
 text-align:center;
 }
 
 #jobs input {
 width:70px;
 }
 
 .navigation {
 padding:10px;
 margin:10px;
 border:2px solid black;
 }
 
 .navigation .navitem {
 padding:5px;
 margin:5px;
 border:1px solid black;
 text-align:center;
 }
 
 #job_description_label {
 font-weight:bold;
 }
 
 #phone {
 display:inline;
 }
 
 #contactinfo {
 font-family:"Arial",Times,serif;
 font-size:20px;
 font-weight:bold;
 text-align:center;
 }
 
 .resumeheader {
 font-family:"Arial",Times,serif;
 font-size:18px;
 font-weight:bold;
 }
 
 .resumetext {
 font-family:"Arial",Times,serif;
 font-size:16px;
 }
 